In [62]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/edlich/eternalrepo/master/DS-WAHLFACH/dsm-beuth-edl-demodata-dirty.csv')

# Komplett leere Zeilen entfernen
df.dropna(how='all', inplace=True)

# Die Spalten Id und FullName entfernen
# Zur Datensparsamkeit werden die beiden Spalten nicht benötigt
# Als Id kann der Index verwendet werden
# FullName kann aus FirstName und LastName zusammengesetzt werden
df.drop(['id', 'full_name'], inplace=True, axis=1)

# Alter korrigieren
# Age Type von String zu Numeric ändern und Fehler rausschmeißen
# Möglicher Tippfehler von -78 zu 78 umwandeln
df.age = pd.to_numeric(df.age, errors='coerce').abs()

# Nicht angegebenes Geschlecht auf "NotSpecified" ändern
# Geschlechtsangabe teilweise nicht benötigt und zur weiteren Verarbeitung 'NaN' genauer benannt
df.gender = df.gender.fillna('NotSpecified')

# Duplikate entfernen
df.drop_duplicates(inplace=True)

# Restliche NaN entfernen, da die nicht korrigierten Datensätze unvollständig sind
df.dropna(inplace=True)

# Index neu vergeben
df.reset_index(drop=True, inplace=True)

df

   first_name    last_name                           email        gender   age
0      Mariel     Finnigan             mfinnigan0@usda.gov        Female  60.0
1      Kenyon       Possek               kpossek1@ucoz.com          Male  12.0
2        Lalo    Manifould             lmanifould2@pbs.org          Male  26.0
3     Nickola       Carous               ncarous3@phoca.cz          Male   4.0
4      Norman       Dubbin          ndubbin4@wikipedia.org          Male  17.0
5       Hasty       Perdue                 hperdue5@qq.com  NotSpecified  77.0
6       Franz     Castello             fcastello6@1688.com          Male  25.0
7       Jorge       Tarney                 jtarney7@ft.com          Male  77.0
8      Eunice  Blakebrough          eblakebrough8@sohu.com        Female  45.0
9        Palm      Domotor             pdomotora@github.io          Male   6.0
10        Luz    Lansdowne     llansdowneb@theguardian.com        Female  16.0
11   Modestia        Keble                 mkeblec@cmu.edu        Female  91.0
12     Stacee        Bovis           sbovisd@webeden.co.uk        Female  22.0
13       Eden         Wace             ewacee@marriott.com        Female  16.0
14     Tobias     Sherburn         tsherburnf@facebook.com          Male   2.0
15      Clair     Skillern              cskillerng@nih.gov          Male  78.0
16     Mathew     Addicott  maddicotth@acquirethisname.com          Male  65.0
17    Maurits        Shawl                mshawlj@dmoz.org          Male  72.0